* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f1117;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: #090b10;
}
.navbar{
    height: 60px;
    width: 100%;
    background: #181c24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img{
    width: 100px;
}

.menu{
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu a:hover,
.menu a.active{
    color: #00bfff;
}
.cart-section {
    padding: 50px;
    text-align: center;
}

.cart-section h1 {
    margin-bottom: 30px;
    font-size: 40px;
    color: #00bfff;
}

#total-price {
    margin-top: 30px;
    color: #00bfff;
}

.nut{
    background-color: red;
    border-radius: 25px;
    color: white;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
footer {
    margin-top: auto;
    background: #090b10;
    padding: 30px;
    text-align: center;
}

.footer-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gioithieu {
    color: gray;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .menu {
        margin-top: 15px;
    }
}

