*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: #0f1117;
    color: white;
}

header{
    width: 100%;
    background: #090b10;
}
.navbar{
    height: 60px;
    width: 100%;
    background: #181c24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img{
    width: 100px;
}

.menu{
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu a:hover,
.menu a.active{
    color: #00bfff;
}
.products-section {
    padding: 50px;
    text-align: center;

}

.products-section h1 {
    margin-bottom: 30px;
    font-size: 45px; 
    color: #00bfff;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input {
    width: 400px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.filter-buttons {
    margin-bottom: 30px;
}

.filter-buttons button {
    background: #1c1f26;
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background: #00bfff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    background: #1c1f26;
    padding: 20px;
    border-radius: 12px;
    transition: 0.4s;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card h3 {
    margin: 15px 0 10px;
}

.product-card p {
    color: #00bfff;
    margin-bottom: 10px;
}

.product-card button {
    background: #00bfff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* Hover */

.product-grid .product-card:hover {
    opacity: 1;
    transform: scale(1.05);
    filter: brightness(120%);
}

footer {
    margin-top: 50px;
    background: #090b10;
    padding: 30px;
    text-align: center;
}

.footer-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright {
    color: gray;
    font-size: 16px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 900px){

    .navbar{
        height: auto;
        padding: 15px;
    }

    .menu{
        gap: 15px;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products-section h1{
        font-size: 30px;
    }

    .search-box input{
        width: 100%;
    }

    .product-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-box{
        flex-direction: column;
    }
}

@media (max-width: 600px){

    .menu a{
        display: block;
        margin: 10px 0;
    }

    .product-grid{
        grid-template-columns: 1fr;
    }
}