*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: #0f1117;
    color: white;
}

header{
    width: 100%;
    background: #090b10;
}
.navbar{
    height: 60px;
    width: 100%;
    background: #181c24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo img{
    width: 100px;
}

.menu{
    display: flex;
    gap: 30px;
    padding-right: 50px;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu a:hover,
.menu a.active{
    color: #00bfff;
}

/* BANNER */
.banner{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgba(0,191,255,0.3);
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active{
    opacity: 1;
    z-index: 1;
}

.slide img{
    width: 100%;
    height: 100%;
}

.dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 100;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.dot.active{
    opacity: 1;
    background: #00bfff;
    box-shadow: 0 0 10px #00bfff;
}

.title{
    text-align: center;
    margin: 60px 0;
    font-size: 40px;
    color: #00bfff;
    text-shadow: 0 0 10px #00bfff;
}

.products{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.product{
    width: 250px;
    background: #1b2230;
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;
}

.product img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product h2{
    margin-top: 15px;
    text-align: center;
}

.product p{
    text-align: center;
    margin: 15px 0;
    color: #00bfff;
    font-size: 20px;
    font-weight: bold;
}

.product .p1{
    color: red;
}

.products:hover .product{
    opacity: 0.3;
    filter: brightness(40%);
}

.products .product:hover{
    opacity: 1;
    transform: scale(1.08);
    filter: brightness(120%);
    box-shadow: 0 0 25px #00bfff;
}

.about{
    width: 80%;
    margin: auto;
    background: #1b2230;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 80px;
}

.about h2{
    margin-bottom: 20px;
    color: #00bfff;
}

.about p{
    line-height: 1.8;
    color: #ddd;
}

footer{
    margin-top: 50px;
    background: #090b10;
    padding: 30px;
    text-align: center;
}

.footer-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        flex-direction: column;
        height: auto;
    }

    .menu {
        margin-top: 15px;
    }
}

